<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Glyma.Security.Properties.Settings.GlymaPermissionsConnectionString" connectionString="Data Source=CHRIS-LAPTOP;Initial Catalog=GlymaPermissions;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
