@import url("fonts/RobotoCondensed/RobotoCondensed.css");

#pageTitle
{
    display: none;
}

#RelatedContentPanel
{
    height: 100%;
}

#RelatedContentPanelWrapper
{
    height: 100%;
}

#RelatedContentPanelWrapper H1, #RelatedContentPanelWrapper H2, #RelatedContentPanelWrapper H3, #RelatedContentPanelWrapper H4, #RelatedContentPanelWrapper H5 {
    font-family: 'Roboto Condensed', sans-serif;
}

#ContentPanel H1, #ContentPanel H2, #ContentPanel H3, #ContentPanel H4, #ContentPanel H5 {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Overrides for font-family to Roboto Condensed */
p.list-empty-message 
{
    font-family: 'Roboto Condensed', sans-serif;
}

p.content-empty-message
{
    font-family: 'Roboto Condensed', sans-serif;
}

p.no-silverlight-message
{
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5 {    
    font-family: 'Roboto Condensed', sans-serif;
}

div.related-content-header h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

div.list-item-details
{
    font-family: 'Roboto Condensed', sans-serif;
}

div.filters-panel-header 
{
    font-family: 'Roboto Condensed', sans-serif;
}

div.filters-panel 
{
    font-family: 'Roboto Condensed', sans-serif;
}

p.content-error-message 
{
    font-family: 'Roboto Condensed', sans-serif;
}