Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
Telerik.*.zip
System.ServiceModel.DomainServices.*.zip
Layouts/ClientBin/Glyma/System.ComponentModel.Composition.Initialization.zip
Layouts/ClientBin/Glyma/System.ComponentModel.Composition.zip
Layouts/ClientBin/Glyma/System.ComponentModel.DataAnnotations.zip
Layouts/ClientBin/Glyma/System.Data.Services.Client.zip
Layouts/ClientBin/Glyma/System.Windows.Controls.Data.Input.zip
Layouts/ClientBin/Glyma/System.Windows.Controls.Data.zip
Layouts/ClientBin/Glyma/System.Windows.Controls.Navigation.zip
Layouts/ClientBin/Glyma/System.Windows.Controls.zip
Layouts/ClientBin/Glyma/System.Windows.Data.zip
Layouts/ClientBin/Glyma/System.Xml.Linq.zip
Layouts/ClientBin/Glyma/System.Xml.Serialization.zip
Layouts/ClientBin/Glyma/System.Xml.XPath.zip
Layouts/ClientBin/Glyma/System.Runtime.Serialization.Json.zip
Layouts/ClientBin/Glyma/System.Json.zip
Layouts/ClientBin/Glyma/Microsoft.CSharp.zip
GlymaMappingToolResources/Glyma/MappingTool/html5mappingtool.js
