<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransactionalMappingToolService3" />
                <binding name="BasicHttpBinding_ITransactionalMappingToolService11" />
                <binding name="BasicHttpBinding_ITransactionalMappingToolService21">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ITransactionalMappingToolService4" />
                <binding name="BasicHttpBinding_ITransactionalMappingToolService12" />
                <binding name="BasicHttpBinding_ITransactionalMappingToolService22">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ITransactionalMappingToolService" />
                <binding name="BasicHttpBinding_ITransactionalMappingToolService1" />
                <binding name="BasicHttpBinding_ITransactionalMappingToolService2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://svrsp2013/_vti_bin/SevenSigma/TransactionalMappingToolService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionalMappingToolService3"
                contract="Service.ITransactionalMappingToolService" name="BasicHttpBinding_ITransactionalMappingToolService2" />
            <endpoint address="http://svrsp2013/_vti_bin/SevenSigma/TransactionalMappingToolService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionalMappingToolService3"
                contract="Service.ITransactionalMappingToolService" name="BasicHttpBinding_ITransactionalMappingToolService3" />
            <endpoint address="http://svrsp2013/_vti_bin/SevenSigma/TransactionalMappingToolService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionalMappingToolService4"
                contract="Service.ITransactionalMappingToolService" name="BasicHttpBinding_ITransactionalMappingToolService4" />
            <endpoint address="http://svrsp2013/_vti_bin/SevenSigma/TransactionalMappingToolService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionalMappingToolService4"
                contract="Service.ITransactionalMappingToolService" name="BasicHttpBinding_ITransactionalMappingToolService5" />
            <endpoint address="http://svrsp2013/_vti_bin/SevenSigma/TransactionalMappingToolservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionalMappingToolService"
                contract="Service.ITransactionalMappingToolService" name="BasicHttpBinding_ITransactionalMappingToolService" />
            <endpoint address="http://svrsp2013/_vti_bin/SevenSigma/TransactionalMappingToolservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionalMappingToolService"
                contract="Service.ITransactionalMappingToolService" name="BasicHttpBinding_ITransactionalMappingToolService1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
