<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Glyma.Powershell.Update.Properties.Settings.MappingToolDatabaseConnectionString"
            connectionString="Data Source=glyma-dev;Initial Catalog=MappingToolDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Glyma.Powershell.Update.Properties.Settings.SP2013_Map_GlymaDB_2ConnectionString"
            connectionString="Data Source=GLYMA\SQL2012;Initial Catalog=SP2013_Map_GlymaDB_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Glyma.Powershell.Update.Properties.Settings.SP2013_Map_GlymaDBConnectionString"
            connectionString="Data Source=GLYMA\SQL2012;Initial Catalog=SP2013_Map_GlymaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Glyma.Powershell.Update.Properties.Settings.SP2013_Map_GlymaDBConnectionString1"
            connectionString="Data Source=GLYMA2013;Initial Catalog=SP2013_Map_GlymaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Glyma.Powershell.Update.Properties.Settings.Development_Transaction_GlymaDBConnectionString"
            connectionString="Data Source=GLYMA2013;Initial Catalog=Development-Transaction-GlymaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
