<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Glyma.Powershell.Properties.Settings.MappingToolDatabaseConnectionString" connectionString="Data Source=glyma-dev;Initial Catalog=MappingToolDatabase;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Glyma.Powershell.Properties.Settings.GlymaClaimsTest_Map_GlymaDBConnectionString" connectionString="Data Source=GLYMA;Initial Catalog=GlymaClaimsTest-Map-GlymaDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
