<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MappingToolDatabaseConnectionString" connectionString="Data Source=glyma;Initial Catalog=MappingToolDatabase;Integrated Security=SSPI;User Id=dev\administrator;Password=Yellow99!" providerName="System.Data.SqlClient"/>
    <add name="MappingToolTransactionalDatabaseEntities" connectionString="metadata=res://*/NodeServiceOperations.SqlCommands.Temp.csdl|res://*/NodeServiceOperations.SqlCommands.Temp.ssdl|res://*/NodeServiceOperations.SqlCommands.Temp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chris-ultrabook;initial catalog=MappingToolTransactionalDatabase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Development_Security_GlymaDBConnectionString" connectionString="Data Source=GLYMA2013;Initial Catalog=Development-Security-GlymaDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NodeService.TransactionalMappingToolServiceBehavior" name="TransactionalNodeService.TransactionalMappingToolService">
        <endpoint address="" binding="basicHttpBinding" contract="TransactionalNodeService.Common.ITransactionalMappingToolService"/>
        <!--<endpoint address="" binding="wsHttpBinding" contract="TransactionalNodeService.ITransactionalMappingToolService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings/>
    <client/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="nodeServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="NodeService.TransactionalMappingToolServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SharePoint.Security" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Management.Automation" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
