<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="http"
                binding="customBinding" bindingConfiguration="NodeServiceHttpBinding"
                contract="Glyma.NodeServiceApp.IGlymaNodeServiceApp" />
      <endpoint name="https"
                binding="customBinding" bindingConfiguration="NodeServiceHttpsBinding"
                contract="Glyma.NodeServiceApp.IGlymaNodeServiceApp" />
    </client>
    <bindings>
      <customBinding>
        <binding name="NodeServiceHttpBinding">
          <security authenticationMode="IssuedTokenOverTransport" allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576" maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2162688" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
        <binding name="NodeServiceHttpsBinding">
          <security authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576" maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2162688" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

</configuration>
